Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Data to create the series
data = [4, 8, 15, 16, 23, 42]

# Creating the Pandas Series
series = pd.Series(data)

# Printing the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

# Creating a list variable with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting the list into a Pandas Series
series = pd.Series(my_list)

# Printing the Pandas Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [3]:
import pandas as pd

# Data to create the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Creating the Pandas DataFrame
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame is a datastructure in python of two dimension.
series is one dimension but DataFrame is a two dimension.

In [8]:
import pandas as pd 
data=[1,5,7]
series = pd.Series(data)

data1={'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df1=pd.DataFrame(data)
print(series)
print(df1)

0    1
1    5
2    7
dtype: int64
   0
0  1
1  5
2  7

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [9]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Filtering based on conditions
female_df = df[df['Gender'] == 'Female']
print(female_df)

     Name  Age  Gender
0   Alice   25  Female
2  Claire   27  Female

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the three data structures provided by Pandas, the DataFrame is mutable in nature.

Mutable means that the object can be changed or modified after it is created. In the case of a DataFrame, you can add, delete, or modify rows and columns, change the values in cells, and perform various data manipulation operations on it.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
import pandas as pd

# Creating individual Series for each column
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Combining the Series into a DataFrame
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female