Q1. How Do you comment code in python ?what are Different type of comment?
Ans:- Comment are generally just like information about your code whose does not execute.
There are two types of comment:-
1. single line comment(#)

In [1]:
#THIS IS COMMENT

2. Multiline Comment('''  ''')

In [2]:
'''This is our 
       code but not Execute'''

'This is our \n       code but not Execute'

Q2. What are variables in python? How do you declare and assign value to variable ?
Ans:- variable:- variables are just like container whose contain the value.
Declaration of variable:- variable are declare with alphanumeric,aphabets but not numeric.

In [3]:
a="jayendra"
a

'jayendra'

In [4]:
a1="Malviya"
a1

'Malviya'

In [5]:
@k="harry" #Error It is not way to declare Variable
@k

SyntaxError: invalid syntax (2252884135.py, line 1)

In [6]:
1="jay"#Error It is not way to declare Variable
1

SyntaxError: cannot assign to literal (85904275.py, line 1)

Q3.How do you convert one data type in python

In [9]:
a=123     # Integer
print(a)

123

In [8]:
type(a)

int

In [12]:
str(a)           #string

'123'

In [13]:
type(str(a))

str

This is conversion of Int To string

Q4. How do you write and Execute a python script from the command line ?

To write and execute a Python script from the command line, follow these steps:

Open a text editor and create a new file. Save it with a .py extension, for example, "script.py". This will be your Python script file.

Open the command line or terminal on your operating system. The process may vary depending on your operating system:

Windows: Press the Windows key, type "Command Prompt" or "cmd" in the search bar, and open the Command Prompt application.

In [14]:
python script.py

SyntaxError: invalid syntax (4207338516.py, line 1)

Q5.Given a list my_list =[1,2,3,4,5], write the code to slicethe vlist and obtainthe sublist[2,3]

In [19]:
my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6.what is complex no. in mathematics and how it is represented in python?

In [ ]:
Ans:- complex is combination of both imaginary and real no.
    5+8i
    but in python 5+8j

In [20]:
a=5+8j
type(a)

complex

In [22]:
a.imag

8.0

In [23]:
a.real

5.0

Q7 What are the correct way to declare a variable named age and assign the value 25 to it?

In [24]:
#Variable name is understandable by anyone and easily identify the real meaning of variable in particular code
age=25
age

25

Q8.Declare the variable named price and assign the value 9.99to it.what data type this variable belonds to it?

In [25]:
price=9.99
type(price)

float

Q9. Create a variable named name and assign the full name to it as string .How would you print the value of this variable?

In [27]:
Name="JAYENDRA MALVIYA"
print(Name)
print(type(Name))

JAYENDRA MALVIYA
<class 'str'>

Q10. Given the string "hello world",extract the substring "world"

In [28]:
string="Hello,World!"
string[6:11]

'World'

In [33]:
string[-6:-1]

'World'

In [34]:
Q.11 Create a variable named is "is_student" and assign it a boolean  value indicating whether you arr currently student or not?

Object `not` not found.

Q.11 Create a variable named is "is_student" and assign it a boolean  value indicating whether you arr currently student or not

In [37]:
is_student=True
if is_student==True:
    print("IS STUDENT")
else:
    print("NOt")

IS STUDENT

In [41]:
is_student=bool(input("ENTER ONLY BOOLEAN VALUE"))
if is_student==True:
    print("PRINT YOU ARE STUDENT")
else:
    print("NOT")

ENTER ONLY BOOLEAN VALUE90
PRINT YOU ARE STUDENT