Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data organized and stored in a way that allows efficient retrieval, management, and manipulation of information. It is designed to store and manage large volumes of data, providing mechanisms for data querying, updating, and maintaining data integrity.

SQL Databases:
SQL databases are based on a relational model, where data is organized into tables consisting of rows and columns. These databases use structured query language (SQL) for defining and manipulating the data. Some popular SQL databases include MySQL, Oracle, SQL Server, and PostgreSQL.

NoSQL Databases:
NoSQL databases are designed to store and retrieve large amounts of unstructured or semi-structured data. They provide a flexible schema, allowing the addition or modification of fields without modifying the entire database. NoSQL databases use various data models such as key-value, document, columnar, or graph. Some popular NoSQL databases include MongoDB, Cassandra, Redis, and Neo4j.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database and its objects. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas. The following are examples of commonly used DDL statements:

CREATE:
The CREATE statement is used to create new database objects such as tables, views, indexes, or schemas. It defines the structure and properties of the object being created. Here's an example of creating a table named "Employees" in an imaginary company 


Example:-


CREATE TABLE Employees (
  id INT,
  name VARCHAR(50),
  age INT,
  salary DECIMAL(10, 2)
);


DROP:
The DROP statement is used to remove an existing database object. It permanently deletes the object and its associated data. For example, to drop the "Employees" table created earlier, you would use the following command:

Example:-

DROP TABLE Employees;


ALTER:
The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of the object. Here's an example of altering the "Employees" table to add a new column for the employee's department:

Example:-

ALTER TABLE Employees
ADD COLUMN department VARCHAR(50);


TRUNCATE:
The TRUNCATE statement is used to remove all data from a table, while keeping its structure intact. It is faster than the DELETE statement for removing all records because it does not generate individual undo logs for each deleted row. For instance, to remove all data from the "Employees" table without deleting the table itself.

Example:-

TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used for manipulating data within a database. DML statements are used to insert, update, and delete data from database tables. The following are examples of commonly used DML statements:

INSERT:
The INSERT statement is used to add new records into a table. It allows you to specify the values to be inserted into specific columns or insert data retrieved from another table. Here's an example of inserting a new record into the "Employees" table:
Example:-

INSERT INTO Employees (id, name, age, salary)
VALUES (1, 'John Doe', 30, 5000.00);


UPDATE:
The UPDATE statement is used to modify existing records in a table. It allows you to change the values of specific columns based on specified conditions.

Example:-

UPDATE Employees
SET salary = 6000.00
WHERE id = 1;


DELETE:
The DELETE statement is used to remove one or more records from a table based on specified conditions. It permanently removes the selected rows from the table. Here's an example of deleting all employees with an age greater than 40 from the "Employees" 
Example:-
DELETE FROM Employees
WHERE age > 40;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. DQL statements, primarily the SELECT statement, are used to retrieve specific data from one or more tables in a database. The SELECT statement allows you to specify the columns to be retrieved, apply filters, perform joins, aggregate data, and more. Here's an example of how the SELECT statement is used:-


Consider a table named "Employees" with columns: id, name, age, salary, and department. To retrieve the names and salaries of all employees in the "Sales" department, the following SELECT statement can be used:

Example:-
SELECT name, salary
FROM Employees
WHERE department = 'Sales';

Q5. Explain Primary Key and Foreign Key.

1.Primary Key:

A primary key is a column or a combination of columns in a database table that uniquely identifies each row in that table. It provides a way to ensure data integrity and uniqueness within the table. The primary key constraint enforces that the values in the primary key column(s) must be unique and cannot be null.


2.Foreign Key:

A foreign key is a column or a combination of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables based on a common column. The foreign key constraint ensures referential integrity, enforcing that the values in the foreign key column(s) must exist in the referenced primary key column(s) of another table or be null.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you need to install the MySQL Connector/Python library. You can install it using pip with the following command:

pip install mysql-connector-python

In [5]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("insert into test2.test_table values(123 , 'Jayendra' , 234.45,234 ,'kuvarr')")
mydb.commit()
mydb.close()

ProgrammingError: 1045 (28000): Access denied for user 'abc'@'localhost' (using password: YES)

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The order of execution of SQL clauses in an SQL query typically follows this sequence:

FROM: Specifies the tables or views from which the data will be retrieved.

WHERE: Filters the rows based on specified conditions.

GROUP BY: Groups the rows based on specified columns.

HAVING: Filters the groups produced by the GROUP BY clause based on specified conditions.

SELECT: Specifies the columns to be retrieved.

DISTINCT: Removes duplicate rows from the result set (optional).

ORDER BY: Sorts the result set based on specified columns.

LIMIT/OFFSET: Specifies the number of rows to be returned and the starting point for the result set (optional).